<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		  crossorigin="anonymous">

</head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div style="display: flex; flex-direction: inline">
	<!-- Remember that now we have this home page we need a controller that will have an endpoint that leads us here -->
	<div class="container">
		<h4>Current Projects</h4>
		<a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3">New
			Project</a>
		<table th:replace="layouts :: projects-table"></table>
	</div>

	<div class="container">
		<h4>Current Employees</h4>
		<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">Add Employee</a>
		<table th:replace="layouts :: employees-table"></table>
	</div>
</div>
</body>


</html>